<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- application specific settings -->
    
      <connectionStrings>
            <add name="CommerceeConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;E:\duha\final\Commercee.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient" />
            <!--<add name="CommerceeConnectionString2" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;E:\final\Commercee.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient" />-->
            <!--<add name="CommerceeConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\final\Commercee.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient" />-->
      </connectionStrings>
      <appSettings>
        <add key="ConnectionString" value="server=.\SQLEXPRESS;Trusted_Connection=true;AttachDbFilename=E:\duha\final\Commercee.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" />
      </appSettings>
    <!-- forms based authentication -->
    <system.web>
      <httpModules>
        <add name="Session" type="System.Web.SessionState.SessionStateModule" />
      </httpModules>
		<compilation debug="true" />
        <pages validateRequest="true" />    	  
        <!-- enable Forms authentication -->
        <authentication mode="Forms">
            <forms name="CommerceAuth" loginUrl="login.aspx" protection="All" path="/" />
        </authentication>
        <!-- enable custom errors for the application -->
        <customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.aspx" />
        <!-- disable session state for application -->
        <sessionState mode="Off" />
         <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    </system.web>
    <!-- set secure paths -->
    <location path="Checkout.aspx">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <location path="OrderList.aspx">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
  <location path="AddReview2.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="AddAuctionPrice.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ShoppingCart.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ChargeYourAccount.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="CheckAccount.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
